{{>_navbar}}

<div class="body">
  <h2 class="title">Bairros</h2>
  <div class="btnNova">
    <a href="/{{loja}}/admin/bairros/add">
      <button class="button">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
          Novo bairro
        </span>
      </button>
    </a>
  </div>


{{#each bairros}}
  <div class="card">
    <div>
      <div class="nome">
        <h2>{{nome}}</h2>
      </div>
      <div class="taxa">
        <h2>R$ {{taxa}}</h2>
      </div>
    </div>
    <div class="openModal" id="openModal">
      <img class="abre" src="/img/3pontos.png" />
    </div>

    <div class="modal">
      <a href="/{{nomeLoja}}/admin/bairros/edit/{{_id}}"><button class="btn edit" >Editar</button></a>
      <form action="/{{nomeLoja}}/admin/bairros/deletar" method="post">
        <input type="hidden" name="id" value="{{_id}}" />
        <button class="btn delete" type="submit">Deletar</button>
      </form>
    </div>
  </div>

{{else}}

<h4>Nenhum bairro registrado!</h4>

{{/each}}