{{>_navbar}}
{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
  <div class="card-body">
    <form action="/{{loja}}/admin/produto/edit" method="post" enctype="multipart/form-data">
      <input type="hidden" value="{{produto._id}}" name="id">
      <label for="titulo">Título: </label>
        <input type="text" name="titulo" value="{{produto.titulo}}">
      <label for="slug">Slug: </label>
        <input type="text" name="slug" value="{{produto.slug}}">
      <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" value="{{produto.descricao}}">
      <label for="preco">Preço: </label>
        <input name="preco" value="{{produto.preco}}">
      <label for="preco">Imagem: </label>
        <input type="file" name="imgProduto">
        <label for="categoria">Categoria: </label>
        <select name="categoria">
          {{#each categorias}}
          <option value="{{_id}}">{{nome}}</option>
          {{else}}
          <option value="0">Nenhuma categoria registrada</option>
          {{/each}}
        </select>

        <label for="adicionais">Adicionais: </label>
        {{#each adicionais}} 
          <label for="{{_id}}">
            <input class="adicional" type="checkbox" value="{{nome}}" name="adicionais">
            <input type="text" name="precoAdicional" value="{{taxa}}" style="display: none;">
            <input type="text" name="categoriaAdicional" value="{{categoria}}" style="display: none;">
            {{nome}}
          </label>  
        {{else}}
          <option value="0">Nenhum adicional encontrado, cadastre algum.</option>
        {{/each}}

        <button id="btnEnviar" type="submit">Editar produto</button>
    </form>
  </div>
</div>