{{!-- {{>_navbar}} --}}
{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="body">
  <form action="/{{loja}}/admin/categorias/edit" method="post">
    <div class="card">
      <h2 class="title">Cadastrar categoria</h2>
      <input type="hidden" name="id" value="{{categoria._id}}">
      <label class="label" for="nome">Nome<span class="required">*</span>  </label>
      <input class="input" type="text" id="nome" name="nome" value="{{categoria.nome}}">
      <button id="btnEnviar" type="submit">Editar categoria</button>
    </div>
  </form>
</div>