{{>_navbar}}
<h2>Formas de pagamento</h2>
<hr>
<a href="/{{loja}}/admin/pagamentos/add"><button class="btn btn-success">Nova forma de pagamento</button></a>

{{#each pagamentos}}
  <div class="card mt-4">
    <div class="card-body">
      <h2>{{nome}}</h2>
      <a href="/{{nomeLoja}}/admin/pagamentos/edit/{{_id}}"><button class="btn btn-success">Editar forma de pagamento</button></a>
      <form action="/{{nomeLoja}}/admin/pagamentos/deletar" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger mt-2">Deletar forma de pagamento</button>
      </form>
    </div>
  </div>

{{else}}

<h4 class="mt-3">Nenhuma forma de pagamento registrada!</h4>

{{/each}}