{{>_navbar}}
<input type="hidden" type="text" name="nomeLojaProdutos" value="{{loja}}">
<h2>Lista de produtos</h2>
<hr>
<a href="/{{loja}}/admin/produtos/add"><button>Nova produto</button></a>


{{#each produtos}}
  <div>
    <div>
      <h4>Título: {{titulo}}</h4>
      <p>Descrição: {{descricao}}</p>
      <p><strong>R$ {{preco}}</strong></p>
      <br>
      <small>Categoria: {{this.categoria.nome}}</small><br>
      <a href="/{{nomeLoja}}/admin/produtos/edit/{{_id}}"><button>Editar produto</button></a>
      <br>
      <a href="/{{nomeLoja}}/admin/produtos/deletar/{{_id}}"><button>Deletar produto</button></a>
    </div>
  </div>
{{else}}
<p>Nenhuma produto registrada!</p>
{{/each}}