{{#each dadosUsuario}}
  <header data-img="./uploads/{{imgBg}}" id="headerImgFundo">
    <div>
      <img src="./uploads/{{imgLogo}}" />
      <h1>{{nomeLoja}}</h1>
      <span>{{rua}} {{numeroRua}}, {{bairro}}, {{cidade}} - {{estado}}</span>
      {{#each statusSituacao}}
        <div
          class="horarioFuncionamento"
          data-status="{{status}}"
          id="date-span"
        >
          <span>{{status}} - {{abertura}} às {{fechamento}}</span>
        </div>
      {{/each}}
    </div>
  </header>
{{/each}}

{{! <h2 class="spanConhecaMenu">Conheça nosso menu</h2> }}

<div id="menu">

  <div id="menu">
    {{#each produtosPorCategoria}}
      <div class="containerSpanBebidas">
        <h2>{{@key}}</h2>
      </div>
      <div class="categorias" id="menu">
        {{#each this}}
          <div
            class="containerProduto"
            data-name="{{this.titulo}}"
            data-price="{{this.preco}}"
            data-descricao="{{this.descricao}}"
            data-imgProduto="{{this.imgProduto}}"
          >

            {{! Exibe lista com todos os adicionais }}
            <ul style="display: none;">
              {{#each this.adicionais}}
                <li
                  class="adicionaisLista"
                  data-value="{{this.precoAdicional}}"
                  data-produtoReferido="{{produtoReferido}}"
                >{{this.adicionais}}</li>
              {{else}}
                <h1>Nenhum adicional</h1>
              {{/each}}
            </ul>

            <img src="./uploads/{{this.imgProduto}}" />
            <div class="containerDescricaoPreco">
              <p class="spanTitleProduto">{{this.titulo}}</p>
              <p class="spanDescricaoProduto">{{this.descricao}}</p>
              <div class="preco">
                <p>R$ {{this.preco}}</p>
              </div>
            </div>
          </div>
        {{else}}
          <h2>Nenhum produto encontrado</h2>
        {{/each}}
      </div>

    {{else}}
      <h2>Nenhum produto encontrado</h2>
    {{/each}}
  </div>
</div>

<div class="modalProduto" id="modalProduto">
  <div id="imgProduto">
    <div id="btnVoltar">
      <img src="./img/botao-voltar.png" />
    </div>
    <img
      id="imgModalProduto"
      class="imgModalProduto"
      src="./uploads/hamb-4.png1713677295624.png"
    />
  </div>

  <div class="informacaoProduto">
    <h2 id="nomeProduto">nomeProduto</h2>
    <span id="descricaoProduto">Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Iusto quaerat eveniet nisi nobis eligendi blanditiis.</span>
    <span id="valorProduto"></span>
  </div>
  <div class="adicionalProduto">
    <div class="adiciona">

    </div>
  </div>
  <div class="footerProduto">
    <div id="quantidade">
      <img id="subtraiItem" src="./img/menos.png" />
      <span id="quantidadeTotalProduto">1</span>
      <img id="somaItem" src="./img/mais.png" />
    </div>
    <button id="adicionarProduto">Adicionar
    </button>
  </div>
</div>

{{#each dadosUsuario}}
  <div class="modal" id="cart-modal" data-contact="{{telefone}}">
    <div>
      <div class="headerModal">
        <div id="close-modal-btn">
          <img src="./img/botao-voltar.png" />
        </div>
        <h2>Meu carrinho</h2>
      </div>

      <div id="cart-items" class="items"></div>

      <p>Total: <span id="cart-total">0.00</span></p>

      <div class="containerEntregaBtn">
        <img id="imgEntrega" src="./img/imgEntrega.png" alt="" />
        <button id="btnEntrega">Adicionar informações de entrega</button>
      </div>

      <span id="address-warn"></span>
      <div class="containerEntrega" id="containerEntrega">
        <span class="item1">Informações de entrega:</span>
        <input type="text" class="item2" id="address" placeholder="CEP" />
        <input type="text" class="item3" id="rua" placeholder="Rua/Avenida" />
        <input type="text" class="item4" id="numero" placeholder="Nº" />
        <input
          class="item5"
          type="text"
          id="pontoReferencia"
          placeholder="Ponto de referência"
        />
        <input type="text" class="item6" id="Bairro" placeholder="Bairro" />
        <input type="text" class="item7" id="Cidade" placeholder="Cidade" />
        <input type="text" class="item8" id="UF" placeholder="UF" />
        <span class="item9">Telefone para contato:</span>
        <input
          class="item10"
          type="text"
          id="contatoInput"
          placeholder="DDD + número"
        />
      </div>

      <div class="containerFinalizarPedido">

        <button id="checkout-btn">Finalizar pedido</button>
      </div>

    </div>
  </div>
{{/each}}

<footer>
  <button id="cart-btn">
    (<span id="cart-count">0</span>) Ver meu carrinho
    <img src="./img/buy.png" />
  </button>
</footer>