{{#each dadosUsuario}}
  <header data-img="./uploads/{{imgBg}}" id="headerImgFundo">
    <div>
      <img src="./uploads/{{imgLogo}}" />
      <h1>{{nomeLoja}}</h1>
      <span>{{rua}} {{numeroRua}}, {{bairro}}, {{cidade}} - {{estado}}</span>
      {{#each statusSituacao}}
        <div class="horarioFuncionamento" data-status="{{status}}" id="date-span">
          <span>{{status}} - {{abertura}} às {{fechamento}}</span>
        </div>
      {{/each}}
    </div>
  </header>
{{/each}}

<nav>

  {{#each produtosPorCategoria}}
    <ul>
      <li><a href="#{{@key}}">{{@key}}</a></li>
    </ul>
  {{/each}}
</nav>

<div id="menu" class="menu">
  <div id="menu">
    {{#each produtosPorCategoria}}
      <div id="{{@key}}" class="containerSpanBebidas">
        <h2>{{@key}}</h2>
      </div>
      <div class="categorias" id="menu">
        {{#each this}}
          <div class="containerProduto" data-name="{{this.titulo}}" data-price="{{this.preco}}" data-descricao="{{this.descricao}}" data-imgProduto="{{this.imgProduto}}">

            {{! Exibe lista com todos os adicionais }}
            <ul style="display: none;">
              {{#each this.adicionais}}
                <li class="adicionaisLista" data-value="{{this.precoAdicional}}" data-produtoReferido="{{this.produtoReferido}}" data-categoria="{{this.categoriaAdicional}}">{{this.adicionais}}</li>
              {{else}}
                <h1>Nenhum adicional</h1>
              {{/each}}
            </ul>

            <img src="./uploads/{{this.imgProduto}}" />
            <div class="containerDescricaoPreco">
              <p class="spanTitleProduto">{{this.titulo}}</p>
              <p class="spanDescricaoProduto">{{this.descricao}}</p>
              <div class="preco">
                <p id="ajustePreco">R$ {{this.preco}}</p>
              </div>
            </div>

          </div>
        {{else}}
          <h2>Nenhum produto encontrado</h2>
        {{/each}}
      </div>

    {{else}}
      <h2>Nenhum produto encontrado</h2>
    {{/each}}
  </div>

</div>

<div class="modalProduto" id="modalProduto">
  <div id="btnVoltar">
    <img src="./img/botao-voltar.png" />
  </div>
  <div class="contentModalProduto">
    <div id="imgProduto">

      <img id="imgModalProduto" class="imgModalProduto" src="./uploads/hamb-4.png1713677295624.png" />
    </div>

    <div class="informacaoProduto">
      <h2 id="nomeProduto"></h2>
      <span id="descricaoProduto"></span>
      <span id="valorProduto"></span>
    </div>

    <div id="adicionalProduto"></div>
  </div>

  <div class="footerProduto">
    <div id="quantidade">
      <button class="btnSomaSubtrai" id="subtraiItem">-</button>
      <span id="quantidadeTotalProduto">1</span>
      <button class="btnSomaSubtrai" id="somaItem">+</button>
    </div>
    <button id="adicionarProduto">Adicionar
    </button>
  </div>
</div>

{{#each dadosUsuario}}
  <div class="modal" id="cart-modal" data-contact="{{telefone}}">
    <div>
      <div class="headerModal">
        <div id="close-modal-btn">
          <img src="./img/botao-voltar.png" />
        </div>
        <h2>Meu carrinho</h2>
      </div>

      <div id="containerPedido">

        <div id="cart-items" class="items"></div>

        <div id="divAddMaisItens">
          <button id="addMaisItens">Adicionar mais itens</button>
        </div>

        <span id="address-warn"></span>

        <div class="containerFinalizarPedido">

          <button id="checkout-btn">Finalizar pedido</button>
        </div>

      </div>

      <div id="divAddEndereco">
        <p>TOTAL<span id="cart-total">0.00</span></p>
        <button id="addEndereco">Próximo</button>
      </div>

    </div>
  </div>
{{/each}}

{{! MODAL ENTREGA }}
<div id="modalEndereco" class="modalEndereco">
  <div>
    <div class="headerModal">
      <div id="close-modalEndereco-btn">
        <img src="./img/botao-voltar.png" />
      </div>
      <h2>Informações da entrega</h2>
    </div>

    {{! Entrega / retirada }}
    <div class="radio-inputs">
      <label class="radio">
        <input type="radio" name="radio" checked="" />
        <span class="name">Entrega</span>
      </label>

      <label class="radio">
        <input type="radio" name="radio" />
        <span class="name">Retirar no local</span>
      </label>
    </div>

    <div class="entrega">
      <input class="input-endereco" id="cep" name="text" type="text" placeholder="CEP..." />
      <input class="input-endereco" id="rua" name="text" type="text" placeholder="Rua/Avenida..." />
      <input class="input-endereco" id="complemento" name="text" type="text" placeholder="Complemento" />
      <input class="input-endereco" id="numero" name="text" type="text" placeholder="Nº..." />
      <input class="input-endereco" id="pontoReferencia" name="text" type="text" placeholder="Ponto de referência..." />
      <input class="input-endereco" id="bairro" name="text" type="text" placeholder="Bairro..." />
      <input class="input-endereco" id="cidade" name="text" type="text" placeholder="Cidade..." />
      <input class="input-endereco" id="uf" name="text" type="text" placeholder="UF..." />

    </div>

    <input type="text" placeholder="DDD + número" />
  </div>
</div>

<footer>
  <button id="cart-btn">
    (<span id="cart-count">0</span>) Ver meu carrinho
    <img src="./img/buy.png" />
  </button>
</footer>