{{#each dadosUsuario}}
  <header data-img="./uploads/{{imgBg}}" id="headerImgFundo">
    <div>
      <img src="./uploads/{{imgLogo}}" />
      <h1 id="nomeDaLoja">{{nomeDaLoja}}</h1>
      <h1 style="display: none;" id="nomeLoja">{{nomeLoja}}</h1>
      {{#each statusSituacao}}
        <div class="horarioFuncionamento" data-status="{{status}}" id="date-span">
          <span>{{status}}</span>
          {{#if abertura}}
            <span>{{abertura}} às {{fechamento}}</span>
          {{/if}}
          {{! <img src="./img/botao-voltar-branco.png" /> }}
        </div>
      {{/each}}
    </div>
  </header>
{{/each}}

{{!-- <nav>
  {{#each produtosPorCategoria}}
    {{#if this.length}}
      <ul>
        <li><a href="#{{@key}}">{{@key}}</a></li>
      </ul>
    {{/if}}
  {{/each}}
</nav> --}}

<nav>
  {{#each produtosPorCategoria}}
    {{#if this.length}}
      <ul>
        <li><a href="#" data-id="{{@key}}">{{@key}}</a></li>
      </ul>
    {{/if}}
  {{/each}}
</nav>

{{!-- <div id="menu" class="menu">
  <div id="menu">
    {{#each produtosPorCategoria}}
      {{#if this.length}}
        <!-- Essa é a parte do ID -->
        <div id="{{@key}}" class="containerSpanBebidas">
          <h2>{{@key}}</h2>
        </div>
        <div class="categorias" id="menu">
          {{#each this}}
            <div class="containerProduto" data-name="{{this.titulo}}" data-price="{{this.preco}}" data-descricao="{{this.descricao}}" data-imgProduto="{{this.imgProduto}}">
              <ul style="display: none;">
                {{#each this.adicionais}}
                  <li class="adicionaisLista" data-value="{{this.precoAdicional}}" data-produtoReferido="{{this.produtoReferido}}" data-categoria="{{this.categoriaAdicional}}" data-minCategoria="{{this.minAdicionais}}" data-maxCategoria="{{this.maxAdicionais}}">{{this.adicionais}}</li>
                {{else}}
                  <h1>Nenhum adicional</h1>
                {{/each}}
              </ul>

              <div class="imgProdutoContainer">
                <img src="/uploads/{{this.imgProduto}}" />
              </div>

              <div class="containerDescricaoPreco">
                <p class="spanTitleProduto">{{this.titulo}}</p>
                <p class="spanDescricaoProduto">{{this.descricao}}</p>
                <div class="preco">
                  <p id="ajustePreco">R$ {{this.preco}}</p>
                </div>
              </div>
            </div>
          {{else}}
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <h2>Nenhum produto encontrado</h2>
    {{/each}}
  </div>
</div> --}}

<div id="menu" class="menu">
  <div id="menu">
    {{#each produtosPorCategoria}}
      {{#if this.length}}
        <!-- Adiciona um atributo data-id -->
        <div id="{{@key}}" data-id="{{@key}}" class="containerSpanBebidas">
          <h2>{{@key}}</h2>
        </div>
        <div class="categorias" id="menu">
          {{#each this}}
            <div class="containerProduto" data-name="{{this.titulo}}" data-price="{{this.preco}}" data-descricao="{{this.descricao}}" data-imgProduto="{{this.imgProduto}}">
              <ul style="display: none;">
                {{#each this.adicionais}}
                  <li class="adicionaisLista" data-value="{{this.precoAdicional}}" data-produtoReferido="{{this.produtoReferido}}" data-categoria="{{this.categoriaAdicional}}" data-minCategoria="{{this.minAdicionais}}" data-maxCategoria="{{this.maxAdicionais}}">{{this.adicionais}}</li>
                {{else}}
                  <h1>Nenhum adicional</h1>
                {{/each}}
              </ul>

              <div class="imgProdutoContainer">
                <img src="/uploads/{{this.imgProduto}}" />
              </div>

              <div class="containerDescricaoPreco">
                <p class="spanTitleProduto">{{this.titulo}}</p>
                <p class="spanDescricaoProduto">{{this.descricao}}</p>
                <div class="preco">
                  <p id="ajustePreco">R$ {{this.preco}}</p>
                </div>
              </div>
            </div>
          {{else}}
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <h2>Nenhum produto encontrado</h2>
    {{/each}}
  </div>
</div>

<div id="pedidoConcluido" class="pedidoConcluido">
  <div>
    <div class="imgPedidoConcluido">
      <img src="./img/concluido.png" alt="" />
    </div>
    <div>
      <span>Seu pedido foi enviado com sucesso!</span>
    </div>
  </div>
</div>

<div class="modalProduto" id="modalProduto">
  <div id="btnVoltar">
    <i class="imgFechaModal ri-arrow-down-wide-line"></i>
  </div>
  <div class="contentModalProduto">
    <div id="imgProduto">

      <img id="imgModalProduto" class="imgModalProduto" />
    </div>

    <div class="informacaoProduto">
      <h2 id="nomeProduto"></h2>
      <span id="descricaoProduto"></span>
      <span id="valorProduto"></span>
    </div>

    <div id="adicionalProduto"></div>

    <div id="observacaoProduto">
      <textarea id="observacao" name="observacao" rows="3" cols="50" placeholder="Digite suas observações, por exemplo: Retirar batatas"></textarea><br /><br />
    </div>
  </div>

  <div class="footerProduto">
    <div id="quantidade">
      <button class="btnSomaSubtrai" id="subtraiItem">
        <i class="ri-subtract-line"></i>
      </button>
      <span id="quantidadeTotalProduto">1</span>
      <button class="btnSomaSubtrai" id="somaItem">
        <i class="ri-add-fill"></i>
      </button>
    </div>
    <button id="adicionarProduto">Adicionar
    </button>
  </div>
</div>

{{#each dadosUsuario}}
  <div class="modal" id="cart-modal" data-contact="{{telefone}}">
    <div>
      <div class="headerModal">
        <div id="close-modal-btn">
          <i class="imgFechaModal ri-arrow-down-wide-line"></i>
        </div>
        <h2>Meu carrinho</h2>
      </div>

      <div id="containerPedido">

        <div id="cart-items" class="items"></div>

        <div id="divAddMaisItens">
          <button id="addMaisItens">Adicionar mais itens</button>
        </div>

        <span id="address-warn"></span>

        <div class="containerFinalizarPedido">

          <button id="checkout-btn">Finalizar pedido</button>
        </div>

      </div>

      <div id="divAddEndereco">
        <p>TOTAL<span id="cart-total">0.00</span></p>
        <button id="addEndereco">Próximo</button>
      </div>

    </div>
  </div>
{{/each}}

{{! Modal troco }}
<div id="modalTroco" class="modalTroco">
  <div class="content">
    <span>Precisa de troco?</span>
    <div class="radio-inputs">
      <label class="radio">
        <input id="inputRadioTrocoSim" type="radio" name="radioTroco" checked="" />
        <span class="name">Sim</span>
      </label>

      <label class="radio">
        <input id="inputRadioTrocoNao" type="radio" name="radioTroco" />
        <span class="name">Não</span>
      </label>
    </div>

    <div id="valorTroco" class="valorTroco">
      <span>Troco para quanto?</span>
      <input class="input-endereco" id="inputValorTroco" placeholder="0,00" type="text" />
    </div>

    <div class="sectionFinaliza">
      <button id="FinalizaTroco">Confirmar</button>
    </div>
  </div>

</div>

{{! MODAL ENTREGA }}
<div id="modalEndereco" class="modalEndereco">
  <div class="headerModal">
    <div id="close-modalEndereco-btn">
      <i class="imgFechaModal ri-arrow-down-wide-line"></i>
    </div>
    <h2>Informações da entrega</h2>
  </div>
  <div class="contentModalEndereco">

    {{! contato }}
    <div class="contatoEndereco">
      <div class="containerNomeNumero">
        <span>Nome</span>
        <input class="input-endereco inputNomeNumero" name="text" id="inputNome" type="text" placeholder="Seu nome" />
      </div>

      <div class="containerNomeNumero">
        <span>Contato</span>
        <input class="input-endereco inputNomeNumero" name="text" maxlength="15" id="inputTelefone" type="text" placeholder="(00) 00000-0000" />
      </div>
    </div>

    {{! Entrega / retirada }}
    <div class="radio-inputs">
      <label class="radio">
        <input id="inputRadioEntrega" type="radio" name="radio" checked="" />
        <span id="spanEntrega" data-entrega="true" class="name">Entrega</span>
      </label>

      <label class="radio">
        <input id="inputRadioRetirada" type="radio" name="radio" />
        <span id="spanRetirada" class="name">Retirar no local</span>
      </label>
    </div>

    {{#each dadosUsuario}}
      <div class="containerRetirada" id="containerRetirada">
        <p>Retire seu pedido em:</p>
        <div>
          <span>{{rua}}, Nº{{numeroRua}}, {{bairro}}</span>
          <span>{{cidade}} - {{estado}}</span>
          <span>{{pontoReferencia}}</span>
        </div>

      </div>
    {{/each}}

    <div class="containerEntrega" id="containerEntrega">
      <input style="grid-area: cep" class="input-endereco" id="cep" name="text" type="text" placeholder="CEP..." />
      <input style="grid-area: rua" class="input-endereco" id="rua" name="text" type="text" placeholder="Rua/Avenida..." />
      <input style="grid-area: numero" class="input-endereco" id="numero" name="text" type="text" placeholder="Nº..." />
      <input style="grid-area: complemento" class="input-endereco" id="complemento" name="text" type="text" placeholder="Complemento..." />
      <input style="grid-area: pontoReferencia" class="input-endereco" id="pontoReferencia" name="text" type="text" placeholder="Ponto de referência..." />

      <select id="bairro" style="grid-area: bairro" class="selectBairro">
        <option value="">Selecione o bairro</option>
        {{#each bairrosCadastrados}}
          <option value="{{taxa}}">{{nome}}</option>
        {{/each}}
      </select>

      <input style="grid-area: cidade" class="input-endereco" id="cidade" name="text" type="text" placeholder="Cidade..." />
      <input style="grid-area: uf" class="input-endereco" id="uf" name="text" type="text" placeholder="UF..." />
    </div>

    <div id="formaPagamento" class="formaPagamento">
      <div id="open-close-FormaPagamento">
        <span>Forma de pagamento</span>
        <i id="alteraImgFormaPagamento" class="imgFechaModal ri-arrow-down-wide-line"></i>
      </div>

      <div class="radio-group">
        {{#each formasPagamento}}
          <input class="radio-input" name="radio-group" id="{{nome}}" type="radio" />
          <label class="radio-label" for="{{nome}}">
            <span class="radio-inner-circle"></span>
            {{nome}}
          </label>
        {{/each}}
      </div>

    </div>

  </div>

  <div class="footerEndereco">
    <div>
      <span>ENTREGA<span class="valorEndereco" id="valorEntrega">0,00</span></span>
      <span>SUBTOTAL<span class="valorEndereco" id="valorSubtotal">0,00</span></span>
      <p class="valorEnderecoTotal">TOTAL<span class="valorEndereco" id="totalPedidoValor">0.00</span></p>
    </div>

    <button id="confirmaEndereco">Finalizar pedido</button>
  </div>

</div>

<footer>
  <button id="cart-btn">
    (<span id="cart-count">0</span>) Ver meu carrinho
    <i class="ri-shopping-cart-2-fill"></i>
  </button>
</footer>