{{>_navbar}}

{{#each produtos}}
<div class="card">

  <div class="card-body">
    <h3>{{titulo}}</h3>
    <h3>{{descricao}}</h3>
    <h2>{{preco}}</h2>
    {{!-- <a href="/produto/{{slug}}"><button class="btn btn-success">Leia mais</button></a> --}}
    <hr>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
  <h5>Nenhuma produto</h5>
{{/each}}